<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>APS3D System StatisticsApp</title>

  <!-- En producción usa una ruta relativa o CDN; dejo la absoluta tal como la tenías -->
  <!--<link rel="stylesheet" href="C:/Users/omar.campano/Desktop/StatisticsApp/static/style.css">-->
  <link rel="stylesheet" href="/static/style.css">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    
  <!-- SCREEN_1 MENU PRINCIPAL -->
    <div  id="screenMain" class="layout ">
          <!-- COLUMNA DE BOTONES -->
          <div class="button-container">
            <h1>StatisticsApp</h1>
            <p>&copy; 2025 Omar Campañó. All rights reserved.</p>
            <button class="button" id="btnResumenGeneral">RESUMEN GENERAL</button>
            <button class="button" id="btnFiltrarPorFecha">FILTRAR POR FECHA</button>
            <button class="button" id="btnTotal">TOTAL</button>
            <button class="button" id="btnTotalFiltrar">TOTAL FLTRAR</button>
            <button class="button" id="btnPromedios">PROMEDIOS</button>
            <button class="button" id="btnPromediosFiltrar">PROMEDIOS FILTRAR</button>
            <!--<button class="button" id="btnGrid">GRID</button>-->
          </div>

          <!-- COLUMNA DE IMÁGENES -->
          <div class="image-container">
            <img src="/static/logo.png"  alt="Logo"  width="600">
            <img src="/static/aps3d.avif" alt="APS 3D" width="1000">
          </div>
    </div>

  <!-- SCREEN_2 RESUMEN GENERAL -->
    <div id="screen2Id" class="screen2Class hidden">
      <img class="aps3d-float" src="aps3d_1.avif" alt="APS3D" >
          <div class="screen2HeaderClass">
            <!--<div class="button-container">-->
              <h1>RESUMEN GENERAL</h1>
              <!--<h2>StatisticsApp</h2>-->
              <!--<p>&copy; 2025 Omar Campañó. All rights reserved.</p>-->
              <button class="button btnInicio" id="btnInicio">INICIO</button>
              <!--<button class="button toggleSwitch">Filtrar Fecha</button>-->
            <!--</div>-->
          </div>
          <div class="screen2SubHeaderClass">
          </div>
          <!--<h1>Estadisticas</h1>>-->
          <br>
          <div class="screen2BodyClass">
            <div id="screen2TimesContainer">
              <h2 style="height: 55px">TIEMPOS:</h2>
            </div>
            
            <div id="screen2OrdersContainer">
              <h2 style="height: 55px">ORDENES:</h2>
            </div>
            
            <div id="screen2AxisMoveTimeContainer">
              <h2 style="width:200px; height: 55px">TIEMPO MOVIMIENTO:</h2>
            </div>

            <div id="screen2AxisDistanceContainer">
              <h2 style="width:200px; height: 55px">DISTANCIA RECORRIDA:</h2>
            </div>

            <div id="screen2AxisCyclesContainer">
              <h2 style="width:200px; height: 55px">CICLOS REALIZADOS:</h2>
            </div>

          </div>
          
          <!--<div class="image-container renderAPS3D">
            <img src="aps3d_1.avif" alt="APS3D" >
          </div>-->
          
    </div>

  <!-- SCREEN_3 RESUMEN GENERAL -->
    <div id="screen3Id" class="screen3Class hidden">
      <img class="aps3d-float" src="aps3d_1.avif" alt="APS3D" >
      <div class="screen3HeaderClass">
        <!--<div class="button-container">-->
          <h1>FILTRAR POR FECHA</h1>
          <!--<h2>StatisticsApp</h2>-->
          <!--<p>&copy; 2025 Omar Campañó. All rights reserved.</p>-->
          <button class="button btnInicio" id="btnInicio">INICIO</button>
          <!--<button class="button toggleSwitch">Filtrar Fecha</button>-->
        <!--</div>-->
      </div>
      <div class="screen3SubHeaderClass">
      </div>
      <!--<h1>Estadisticas</h1>>-->
      <br>
      <div class="screen3BodyClass">
        <div id="screen3TimesContainer">
          <h2 style="height: 55px">TIEMPOS:</h2>
        </div>
        
        <div id="screen3OrdersContainer">
          <h2 style="height: 55px">ORDENES:</h2>
        </div>
        
        <div id="screen3AxisMoveTimeContainer">
          <h2 style="width:200px; height: 55px">TIEMPO MOVIMIENTO:</h2>
        </div>
      
        <div id="screen3AxisDistanceContainer">
          <h2 style="width:200px; height: 55px">DISTANCIA RECORRIDA:</h2>
        </div>
      
        <div id="screen3AxisCyclesContainer">
          <h2 style="width:200px; height: 55px">CICLOS REALIZADOS:</h2>
        </div>
      
      </div>
      <!--<div class="image-container renderAPS3D">
        <img src="aps3d_1.avif" alt="APS3D" >
      </div>-->
      
  </div>

  <!-- SCREEN_4 TOTAL -->
    <div id="screen4Id" class="screen4Class hidden">
      <img class="aps3d-float" src="aps3d_1.avif" alt="APS3D" >
          <div class="screen4HeaderClass">
            <!--<div class="button-container">-->
              <h1>TOTAL</h1>
              <!--<h2>StatisticsApp</h2>-->
              <!--<p>&copy; 2025 Omar Campañó. All rights reserved.</p>-->
              <button class="button btnInicio" id="btnInicio">INICIO</button>
            <!--</div>-->
          </div>
          
          <div class="screen4SubHeaderClass">
          </div>

          <!--<h1>Estadisticas</h1>>-->
          <br>
          <div class="screen4BodyClass">
            <div id="screen4TimesContainer">
              <h2 style="height: 55px">TIEMPOS:</h2>
            </div>
            
            <div id="screen4OrdersContainer">
              <h2 style="height: 55px">ORDENES:</h2>
            </div>
            
            <div id="screen4AxisMoveTimeContainer">
              <h2 style="width:200px; height: 55px">TIEMPO MOVIMIENTO:</h2>
            </div>

            <div id="screen4AxisDistanceContainer">
              <h2 style="width:200px; height: 55px">DISTANCIA RECORRIDA:</h2>
            </div>

            <div id="screen4AxisCyclesContainer">
              <h2 style="width:200px; height: 55px">CICLOS REALIZADOS:</h2>
            </div>

          </div>          
          
          <!--<div class="image-container renderAPS3D">
            <img src="aps3d_1.avif" alt="APS3D" >
          </div>-->
          
    </div>

    <!-- SCREEN_5 TOTAL FILTRAR -->
    <div id="screen5Id" class="screen5Class hidden">
      <img class="aps3d-float" src="aps3d_1.avif" alt="APS3D" >
      <div class="screen5HeaderClass">
        <!--<div class="button-container">-->
          <h1>TOTAL FILTRAR</h1>
          <!--<h2>StatisticsApp</h2>-->
          <!--<p>&copy; 2025 Omar Campañó. All rights reserved.</p>-->
          <button class="button btnInicio" id="btnInicio">INICIO</button>
        <!--</div>-->
      </div>
      
      <div class="screen5SubHeaderClass">
      </div>

      <!--<h1>Estadisticas</h1>>-->
      <br>
      <div class="screen5BodyClass">
        <div id="screen5TimesContainer">
          <h2 style="height: 55px">TIEMPOS:</h2>
        </div>
        
        <div id="screen5OrdersContainer">
          <h2 style="height: 55px">ORDENES:</h2>
        </div>
        
        <div id="screen5AxisMoveTimeContainer">
          <h2 style="width:200px; height: 55px">TIEMPO MOVIMIENTO:</h2>
        </div>

        <div id="screen5AxisDistanceContainer">
          <h2 style="width:200px; height: 55px">DISTANCIA RECORRIDA:</h2>
        </div>

        <div id="screen5AxisCyclesContainer">
          <h2 style="width:200px; height: 55px">CICLOS REALIZADOS:</h2>
        </div>

      </div>          
      
      <!--<div class="image-container renderAPS3D">
        <img src="aps3d_1.avif" alt="APS3D" >
      </div>-->
  
  </div>

  <!-- SCREEN_6 PROMEDIOS -->
    <div id="screen6Id" class="screen6Class hidden">
      <img class="aps3d-float" src="aps3d_1.avif" alt="APS3D" >
        <div class="screen6HeaderClass">
          <!--<div class="button-container">-->
            <h1>PROMEDIOS</h1>
            <!--<h2>StatisticsApp</h2>-->
            <!--<p>&copy; 2025 Omar Campañó. All rights reserved.</p>-->
            <button class="button btnInicio" id="btnInicio">INICIO</button>
          <!--</div>-->
        </div>

        <div class="screen6SubHeaderClass">
        </div>

          <!--<h1>Estadisticas</h1>>-->
          <br>
          <div class="screen6BodyClass">
            <div id="screen6TimesContainer">
              <h2 style="height: 55px">TIEMPOS:</h2>
            </div>
            
            <div id="screen6OrdersContainer">
              <h2 style="height: 55px">ORDENES:</h2>
            </div>
            
            <div id="screen6AxisMoveTimeContainer">
              <h2 style="width:200px; height: 55px">TIEMPO MOVIMIENTO:</h2>
            </div>

            <div id="screen6AxisDistanceContainer">
              <h2 style="width:200px; height: 55px">DISTANCIA RECORRIDA:</h2>
            </div>

            <div id="screen6AxisCyclesContainer">
              <h2 style="width:200px; height: 55px">CICLOS REALIZADOS:</h2>
            </div>

          </div>

        <!--<div class="image-container renderAPS3D">
          <img src="aps3d_1.avif" alt="APS3D" >
        </div>-->
      
    </div>

  <!-- SCREEN_7 PROMEDIOS FILTRAR -->
  <div id="screen7Id" class="screen7Class hidden">
    <img class="aps3d-float" src="aps3d_1.avif" alt="APS3D" >
    <div class="screen7HeaderClass">
      <!--<div class="button-container">-->
        <h1>PROMEDIOS FILTRAR</h1>
        <!--<h2>StatisticsApp</h2>-->
        <!--<p>&copy; 2025 Omar Campañó. All rights reserved.</p>-->
        <button class="button btnInicio" id="btnInicio">INICIO</button>
      <!--</div>-->
    </div>

    <div class="screen7SubHeaderClass">
    </div>

      <!--<h1>Estadisticas</h1>>-->
      <br>
      <div class="screen7BodyClass">
        <div id="screen7TimesContainer">
          <h2 style="height: 55px">TIEMPOS:</h2>
        </div>
        
        <div id="screen7OrdersContainer">
          <h2 style="height: 55px">ORDENES:</h2>
        </div>
        
        <div id="screen7AxisMoveTimeContainer">
          <h2 style="width:200px; height: 55px">TIEMPO MOVIMIENTO:</h2>
        </div>

        <div id="screen7AxisDistanceContainer">
          <h2 style="width:200px; height: 55px">DISTANCIA RECORRIDA:</h2>
        </div>

        <div id="screen7AxisCyclesContainer">
          <h2 style="width:200px; height: 55px">CICLOS REALIZADOS:</h2>
        </div>

      </div>

    <!--<div class="image-container renderAPS3D">
      <img src="aps3d_1.avif" alt="APS3D" >
    </div>-->
  
  </div>

  <!--<script src="C:/Users/omar.campano/Desktop/StatisticsApp/static/script.js"></script>-->
  <script type="module"  src="/static/script.js"></script>
</body>
</html>
